html{


  --body-color:#FFFCFF ;

  --header-color:#00B288;

  --header-button:#92a1d1;

  --color-weekdays: #858585;
  
  --box-shadow: #CBD4C2;

  --hover: #e8faed;

  --current-day:#e8f4fa;

  --event-color: #58bae4;

  --modal-event: #e8f4fa;


 --color-day:white;
  

}



body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: var(--body-color);
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: var(--header-color) ;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:var(--header-button);
}
#container {
  margin-top: 100px ;
  width: 770px;
  color: var(--header-color);
}
#weekdays {
  width: 100%;
  display: flex;
  color: var(--color-weekdays) ;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-day);
  margin: 5px;
  box-shadow: 0px 0px 3px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}
.day:hover {
  background-color: var(--hover);
}

.day + #currentDay {
  background-color:var(--current-day);
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: var(--event-color);
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: var(--modal-event);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: var(--header-color);
}
#saveButton, #closeButton {
  background-color: var(--header-button);
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

#eventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: var(--modal-event);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

/* Teste menu lateral */

body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}
.sidebar {
  width: 250px;
  background-color: #00B288;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}
.logo {
  font-size: 40px;
  font-weight: bold;
  font-weight: 100px;
}
.menu {
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.menu li.active, .menu li:hover {
  background-color: #008C6C;
  border-radius: 5px;
}
.menu img{
  width: 40px;
  margin-right: 15px;
}
.content {
  margin-left: 270px;
  padding: 20px;
}

.tituloLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}

.tituloLogo img{
  width: 90px;
  margin: 0;
}


header {
  width: 100%;
  background-color: #f8f9fa;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 250px; /* Largura da sidebar */
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--header-color);
}

.content {
  margin-left: 250px; /* Sidebar */
  margin-top: 80px; /* Espaço para o header */
  padding: 20px;
}